.imgDiv {
  display: inline-grid;
  margin: 10px;
}
.imgDiv button {
  margin: 10px auto 0px auto;
  
}
.container {
  width: 80%;
    /* display: flex; */
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

button {
  padding: 7px 5px;
  border-radius: 5px;
  border: none;
  background-color: #4CAF50;
  color: white;
}

button:hover {
  background-color: #45a049;
}

.imgGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 50px;
  margin-top: 50px;
  grid-auto-flow: dense;
  /* width: 100%; */
}

.contentDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #4CAF50;
  border-radius: 15px;
  padding: 20px;
}

@media screen and (max-width: 1000px) {
  .imgGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .imgGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
.h1 {
  font-size: 30px;
  font-weight: 600;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
